<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="input" value="C:\BradyCodeChallenge\input"/>
		<add key="referenceData" value=".\ReferenceData\ReferenceData.xml"/>
		<add key="output" value="C:\BradyCodeChallenge\output"/>
		<add key="inputFileRegexPattern" value="*.xml*"/>
	</appSettings>
</configuration>